<div class="user-profile">

  <%= image_tag avatar_url(@user) %>
  <h1><%= @user.username %></h1>
  <h3><%= @user.posts.count %> Posts</h3>

  <div class="user-info">
    <h4>Started Blogging: <%= @user.created_at.strftime("%B %d, %Y") %></h4>
    <h4><%= @user.bio %></h4>
    <h4>Based in <%= @user.location %></h4>
    <h4>Interests: <%= @user.interests %></h4>
  </div>

  <% if @user.id == current_user.id %>
    <br>
    <%= link_to 'Edit Profile', edit_user_path(@user), :class => 'submit-button' %>
  <% end %>
  <div class="user-posts">
    <h3><%= @user.username %>'s Posts</h3>
      <% @user.posts.each do |post| %>
        <h4 class="user-posts-list"><%= link_to post.title, post_path(post) %></h4>
      <% end %>
  </div>
</div>
