<h1>All Posts</h1>
<table class="all-posts" id="all-posts" width="50%">
  <tr>
    <th><h3><%= link_to "Post Title", :sort => "title" %></h3></th>
    <th><h3><%= link_to "Author", :sort => "user_id" %></h3></th>
    <th><h3><%= link_to "Publish Date", :sort => "created_at" %></h3></th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= post.user.username %></td>
    <td><%= post.created_at.strftime("%B %d, %Y") %></td>
  </tr>
  <% end %>
</table>
