<div class="post-container">
  <h1><%= @post.title %></h1>
  <h3><%= @post.description %></h3>
  <p>By <%= @post.user.username %> | <%= @post.created_at.strftime("%B %d, %Y") %></p>
  <p><%= @post.content %></p>
</div>

<br>
<% if @post.user == current_user  %>
  <%= link_to 'Edit Post', edit_post_path(@post), :class => 'submit-button' %>
<% end %>
