<div class="post-container">
  <h1><%= @post.title %></h1>
  <h3><%= @post.description %></h3>
  <p>By <%= @post.user.username %> | <%= @post.created_at.strftime("%B %d, %Y") %></p>
  <p><%= @post.content %></p>

<% if logged_in? %>
  <%= link_to 'Add Comment', new_post_comment_path(@post), :class => 'submit-button' %>

  <% if @post.user == current_user  %>
    <%= link_to 'Edit Post', edit_post_path(@post), :class => 'submit-button' %>
  <% end %>

  <br><br>
    <% @post.comments.each do |comment| %>
      <%= comment.user.username %> commented <%= comment.body %> on
      <%= comment.created_at.strftime("%B %d, %Y") %>
      <% if comment.user == current_user %>
      <%= link_to 'Delete Comment', post_comment_path(@post, comment), :class => 'submit-button', method: :delete, data: { confirm: 'Are you sure?'} %>
      <% end %>
    <% end %>
  <% else %>
  <h4><%= link_to "Login", login_path %> to see comments</h4>
<% end %>
</div>
